@model PluginViewModel
@{
    ViewBag.Title = "Plugin";
}

<!-- Nav tabs -->
<ul class="nav nav-pills nav-stacked FunctionList">
    @foreach (var function in Model.Functions)
    {
        var isActive = function == Model.Functions.First();

        <li role="presentation" class="@(isActive ? "active" : "")">
            <a href="#functionTab_@(function.FunctionName)" aria-controls="functionTab_@(function.FunctionName)" role="tab" data-toggle="tab">
                @function.FunctionName
            </a>
        </li>
    }
</ul>

<!-- Tab panes -->
<div class="tab-content FunctionContent">
    @foreach (var function in Model.Functions)
    {
        var isActive = function == Model.Functions.First();

        <div role="tabpanel" class="tab-pane @(isActive ? "active" : "")" id="functionTab_@(function.FunctionName)">

            @using (Html.BeginForm("Execute", "Function", new { pluginName = Model.PluginName, functionName = function.FunctionName }, FormMethod.Post))
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover ParameterCollection">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Required</th>
                                <th>Type</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (function.ParameterCollection != null)
                            {
                                foreach (var p in function.ParameterCollection)
                                {
                                    var param = p.Value;
                                    <tr class="@(param.Required ? "Required" : "")">
                                        <td>@param.Name</td>
                                        <td>@param.Required</td>
                                        <td>@param.Type</td>

                                        <td>
                                            @if (param.Type == typeof(bool))
                                            {
                                                @Html.CheckBox("Param_" + param.Name, param.Value is bool && (bool)param.Value)
                                            }
                                            else
                                            {
                                                @Html.TextBox("Param_" + param.Name, param.Value)
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <button type="submit" class="btn btn-default">Execute</button>
            }
        </div>
    }
</div>